html, body {
	height:100vh;
	margin:0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
#content{
	margin-left: 10px;
}

#results-container{
	min-height: 72vh;
}
#header{
	position: relative;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 80px;
}
/* Centered text */
.centered {
	font-weight:bold;
	color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*========================
===LA PARTE DE LA MAGIA ==
=========================*/
/* Etiquetas paradas */
.etiqueta-rnovza {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	padding-bottom: 90px;
	padding-left: 18px;
}
.etiqueta-rbuny {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	padding-bottom: 127px;
	padding-left: 30px;
}
.etiqueta-rbuyuk {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
  bottom: 75px;
	left: -42px;
	width: 120px;
}
.etiqueta-ramir {
	color: #c02c2c;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
  bottom: 491px;
	left: -42px;
	width: 120px;
}
.etiqueta-rmayd {
	color: #c02c2c;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
  bottom: 487px;
	left: 17px;
	width: 120px;
}
.etiqueta-rpak {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
  bottom: 376px;
	left: -35px;
	width: 106px;
}
.etiqueta-rmirzo {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	padding-bottom: 130px;
	right: -86px;
	width: max-content;
}
.etiqueta-rmilli {
	color: #c02c2c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	padding-bottom: 94px;
	width: max-content;
}
.etiqueta-a {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 44px;
	right: -18px;
	width: max-content;
}
.etiqueta-agafur {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 67px;
	right: -32px;
	width: max-content;
}
.etiqueta-aalish {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 57px;
	right: -22px;
	width: max-content;
}
.etiqueta-auzb {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 51px;
	right: -47px;
	width: max-content;
}
.etiqueta-akos {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 290px;
	right: 132px;
}
.etiqueta-aoyb {
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 165px;
	right: 138px;
}
.etiqueta-atosh{
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 108px;
	right: 199px;
}
.etiqueta-amash{
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: 9px;
	right: 180px;
}
.etiqueta-ados{
	color: #22539c;
	font-weight: bold;
	position: absolute;
	transform: rotate(-90deg);
	top: -39px;
	right: 159px;
}
.etiqueta-v {
	color: #55ac44;
	font-weight: bold;
	position: absolute;
	padding-left: 30px;
}
.etiqueta-vyunus {
	color: #55ac44;
	font-weight: bold;
	position: absolute;
	padding-left: 22px;
	padding-top: 16px;
}
.etiqueta-vming {
	color: #55ac44;
	font-weight: bold;
	position: absolute;
	padding-left: 0px;
	padding-top: 26px;
}
/* Elementos de la linea*/
.parada {
    list-style: none;
    width: 20px !important;
    height: 20px !important;
    background-color: #55ac44;
    border-radius: 10px;
}
.camino {
    list-style: none;
    width: 10px !important;
    height: 60px !important;
    margin-top: -10px;
    margin-bottom:-10px;
    margin-left: 5px;
}
/* Colores de las lineas */
.linea-v {
    background-color: #55ac44;
}
.linea-r {
    background-color: #c02c2c;
}
.linea-a {
    background-color: #22539c;
}
/* Cuadrar lineas*/
.l-chil {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    position: relative;
    left: 312px;
    bottom: 61px;
		z-index: 3;
}
.l-uzb {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    position: relative;
    right: 335px;
    top: 80px;
		z-index: 2;
}
.l-yun {
    position: relative;
    left: 203px;
}

/* Paradas linea azul */
.uzbekistan-desp {
    position: relative;
    right: 20px;
}
.pakhtakor-desp {
    position: relative;
    right: 60px;
    top: -59px;
}
.gafur-desp {
    position: relative;
    right: 120px;
    top: -120px;
}
.chorsu-desp {
    position: relative;
    right: 180px;
    top: -140px;
}
.tin-desp {
    position: relative;
    right: 240px;
    top: -160px;
}
.beruni-desp {
    position: relative;
    right: 300px;
    top: -180px;
}
/* Paradas linea roja */
.buyuk-desp {
    position: relative;
    right: 84px;
}
.pushkin-desp {
		position: relative;
		right: 55px;
}
.khamid-desp {
	position: relative;
	right: 23px;
}
.buny-desp {
	position: relative;
	left: 29px;
}
.milli-desp {
	position: relative;
	left: 58px;
}
.novza-desp {
	position: relative;
	left: 86px;
}
.mirzo-desp {
	position: relative;
	left: 115px;
}
.chil-desp {
	position: relative;
	left: 144px;
}
.olm-desp {
	position: relative;
	left: 173px;
}

/* Caminos linea roja */
.to-push {
	-ms-transform: skewX(-26deg); /* IE 9 */
	-webkit-transform: skewX(-26deg); /* Safari 3-8 */
	transform: skewX(26deg);
	position: relative;
	right: 70px;
}
.to-amir1 {
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari 3-8 */
  transform: skewX(26deg);
  position: relative;
  right: 13px;
	bottom: 9px;
}
.to-amir2 {
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari 3-8 */
  transform: skewX(0deg);
  position: relative;
  right: -1px;
	bottom: 1px;
}
.to-khamid {
	  -ms-transform: skewX(-20deg); /* IE 9 */
	  -webkit-transform: skewX(-20deg); /* Safari 3-8 */
	  transform: skewX(28deg);
	  position: relative;
	  right: 39px;
}
.to-buny {
		-ms-transform: skewX(-20deg); /* IE 9 */
		-webkit-transform: skewX(-20deg); /* Safari 3-8 */
		transform: skewX(26deg);
		position: relative;
		right: 42px;
}
.to-milli {
		-ms-transform: skewX(-20deg); /* IE 9 */
		-webkit-transform: skewX(-20deg); /* Safari 3-8 */
		transform: skewX(26deg);
		position: relative;
		left: 43px;
}
.to-buny1{
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(0deg);
	position: relative;
	bottom: 10px;
}
.to-buny2{
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(25deg);
	position: relative;
	right: -14px;
	bottom: 1px;
}
.to-novza {
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(26deg);
	position: relative;
	left: 72px;
}
.to-mirzo {
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(26deg);
	position: relative;
	left: 100px;
}
.to-chil {
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(26deg);
	position: relative;
	left: 129px;
}
.to-olma {
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari 3-8 */
	transform: skewX(26deg);
	position: relative;
	left: 158px;
}
/* Desplazamiento caminos linea azul */
.to-uzb {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari 3-8 */
    transform: skewX(-20deg);
    position: relative;
    right: 10px;
}
.to-pak {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    position: relative;
    right: 42px;
    top: -30px;
}

.to-gaf {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    position: relative;
    right: 90px;
    top: -90px;
}
.to-cho {
    -ms-transform: rotate(56deg); /* IE 9 */
    -webkit-transform: rotate(56deg); /* Safari 3-8 */
    transform: rotate(56deg);
    position: relative;
    right: 150px;
    top: -130px;
}
.to-tin {
    -ms-transform: rotate(56deg); /* IE 9 */
    -webkit-transform: rotate(56deg); /* Safari 3-8 */
    transform: rotate(56deg);
    position: relative;
    right: 210px;
    top: -150px;
}
.to-ber {
    -ms-transform: rotate(56deg); /* IE 9 */
    -webkit-transform: rotate(56deg); /* Safari 3-8 */
    transform: rotate(56deg);
    position: relative;
    right: 270px;
    top: -170px;
}
.mapa {
    width: 1016px !important;
    height: 728px !important;
}
