html, body {
	height:100vh;
	margin:0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
#content{
	margin-left: 10px;
}

#results-container{
	min-height: 72vh;
}
#header{
	position: relative;
}
/* Centered text */
.centered {
		font-weight:bold;
		color: white;
		font-size: 5vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
